.wrapper {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.blue {
  color: #15195f;
}

.white {
  color: #fffefe;
}

.large {
  font-size: 36px;
}

.small {
  font-size: 32px;
}
