.inputWrapper {
  position: relative;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #333333;
  opacity: 0.9;
}

.input {
  margin-top: 18px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #bec5cf;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 56px;
}

.input::placeholder {
  color: #333333;
  opacity: 0.4;
}

.error {
  border: 1px solid #eb5757;
}

.eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
