.button {
  border: 1px solid #dddde4;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #dddde4;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
