.authPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 760px;
  width: 1250px;
  background: #15195f;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 5px 12px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
}

.logo {
  flex-grow: 1;
  text-align: center;
}
