.wrapper {
  height: 100%;
  width: 764px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 5px 12px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  padding: 100px 156px;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #232428;
  margin-bottom: 40px;
}
